[project]
	description = RSS Owl is a powerful application to organize, search and read your RSS, RDF & Atom news feeds in a comfortable way. Highlights are saved searches, google reader sync, notifications, filters, fast fulltext search and a flexible, clean user interface.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanigamal
[access "refs/for/refs/*"]
	read = group user/hanigamal
	push = group user/hanigamal
	label-Code-Review = -2..+2 group user/hanigamal
	label-Verified = -1..+1 group user/hanigamal
	rebase = group user/hanigamal
	removeReviewer = group user/hanigamal
	submit = group user/hanigamal
[access "refs/heads/*"]
	read = group user/hanigamal
	create = group user/hanigamal
	push = +force group user/hanigamal
	pushMerge = group user/hanigamal
[access "refs/tags/*"]
	push = +force group user/hanigamal
	pushTag = group user/hanigamal
	pushSignedTag = group user/hanigamal
